.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-container {
  flex: 1;
  padding: 28px;
  background: #f1f5f9;
  overflow: auto;
}
